<h1>About</h1>
<p>
  This is the about page for <%= link_to "MyCD", "http://github.com/gurupanguji/mycd" %>. This is currently under development by <%= link_to "gurupanguji", "http://gurupanguji.net" %> and <%= link_to "Harini", "http://harinisaladi.com" %>
</p>
