<% if user_signed_in? %>
  <h1>Welcome! You're signed in</h1>
<% else %>
  <div class="center hero-unit">
  <h1>Welcome to MyCD!</h1>
  <p>
    You've found the home page for the <%= link_to "MyCD", "http://github.com/gurupanguji/mycd" %> application.
  </p>
  <p>
    <!-- Sign up Now button here -->
    <%= link_to "Sign up Now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
  </p>
<% end %>
