<div class="footer">
    <small>
      <%= link_to "MyCD", "http://github.com/gurupanguji/mycd" %>
      by <%= link_to "gurupanguji", "http://gurupanguji.net" %>| <%= link_to "harinisaladi", "http://harinisaladi.com" %>
  </small>
</div>
